<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Registrar Producto</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

<body>

	<h1 align="center">Registrar Producto</h1>
	<form th:action="@{/ControlProducto/InsertarProducto}" th:Object="${productito}" method="post">
		<table align="center">

			<input type="hidden" th:field="*{IDPRODUCTOCL3}">
			<tr>
				<td>Nombre</td>
				<td><input type="text" th:field="*{NOBRECL3}"></td>
			</tr>
			<tr>
				<td>Precio Venta</td>
				<td><input type="text" th:field="*{PRECIOVENTACL3}"></td>
			</tr>
			<tr>
				<td>Stock</td>
				<td><input type="text" th:field="*{STOCK}"></td>
			</tr>
			<tr>
				<td>Precio Compra</td>
				<td><input type="text" th:field="*{PRECIOCOMPCL3}"></td>
			</tr>
			<tr>
				<td>Estado</td>
				<td><select th:field="*{ESTADOCL3}">
						<option th:value="'A'" th:text="Activo"></option>
						<option th:value="'I'" th:text="Inactivo"></option>
					</select></td>
			</tr>
			<tr>
				<td>Descripción</td>
				<td><input type="text" th:field="*{DESCRIPCL3}"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="Registrar">
				</td>
			</tr>
		</table>
	</form>
</body>

</html>